{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% include 'users/main2.html' %} 
<style>
    .layer {
        padding-left: 100px;
    }
</style>


{% block content %}

<!--<div class ='layer'>-->
    <div class="content-section">
        <br>
        <br>
        <br>
        <br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Вход</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Войти</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">Регистрация</a>
            </small>
        
        <!--</div>-->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</div>
{% endblock content %}