<html>
<head>
    <meta charset="utf-8">
    <title>Upload and Download Files</title>
</head>
{% block content %}
<body>
    <h2>Upload Files</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <h3>Uploaded Files:</h3>
    <ul>
        {% for file in page_obj %}
            
            <a href = "{{ file.get_absolute_url }}"> {{ file.fullname }}</a>
        
            <h2> {{ file.author }} </h2>
            {{ file.abstract }}
            <h3> {{ file.publish|date:"d E Y" }} </h3>
            

            <li><a href="{% url 'download_file' file.id %}">{{ file.file.name }}</a></li>
        {% empty %}
            <li>No files uploaded yet.</li>
            {{ file.slug }}
            
        {% endfor %}
        
    </ul>
    
</body>
{% include "pagination.html"  %}
{% endblock %}
</html>